[www]
listen = /var/run/php-fpm.sock
listen.allowed_clients = 127.0.0.1
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

listen.owner = {{ php_fpm_pool_user }}
listen.group = {{ php_fpm_pool_group }}

pm = {{ php_fpm_pool_pm }}
pm.max_children = {{ php_fpm_pool_pm_max_children }}
pm.start_servers = {{ php_fpm_pool_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pool_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pool_pm_max_spare_servers }}
pm.max_requests = 500

php_value[date.timezone] = {{ php_date_timezone }}
clear_env = {{ php_fpm_clear_env }}
php_value[memory_limit] = {{ php_memory_limit }}
php_admin_value[max_execution_time] = {{ php_max_execution_time }}
